.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
esbuild.js
.gitignore
tsconfig.json
package-lock.json
README_ja.md
node_modules/**
dist/*.js.map
*.vsix
*.vsix.zip
bin/easyauth-emulator/_internal/src/__pycache__/**
bin/easyauth-emulator/config.toml.example
bin/easyauth-emulator/_internal/bin/**
images/flow*.*
