.vscode/**
.vscode-test/**
src/**
tests/**
.gitignore
tsconfig.json
vitest.config.ts
vitest.config.js
vitest.config.js.map
package-lock.json
README_ja.md
node_modules/**
out/*.js.map
*.vsix
*.vsix.zip
bin/easyauth-emulator/_internal/src/__pycache__/**
bin/easyauth-emulator/config.toml.example
bin/easyauth-emulator/_internal/bin/**
images/flow*.*